.es-icons {
	font-family:"es-icons";
	display:inline-block;
	vertical-align:middle;
	line-height:1;
	font-weight:normal;
	font-style:normal;
	speak:none;
	text-decoration:inherit;
	text-transform:none;
	text-rendering:auto;
	-webkit-font-smoothing:antialiased;
	-moz-osx-font-smoothing:grayscale;
}


/* Icons */


.architect:before {
	content:"\f101";
}


.bbq:before {
	content:"\f102";
}


.circle-arrow-right:before {
	content:"\f103";
}


.developer:before {
	content:"\f104";
}


.discover-answer-a:before {
	content:"\f105";
}


.discover-answer-b:before {
	content:"\f106";
}


.discover-answer-c:before {
	content:"\f107";
}


.discover-answer-d:before {
	content:"\f108";
}


.discover-answer-e:before {
	content:"\f109";
}


.discover-correct:before {
	content:"\f10a";
}


.discover-incorrect:before {
	content:"\f10b";
}


.discover:before {
	content:"\f10c";
}


.gcd:before {
	content:"\f10d";
}


.lab-logo:before {
	content:"\f10e";
}


.minus:before {
	content:"\f10f";
}


.plus:before {
	content:"\f110";
}


.strategy:before {
	content:"\f111";
}


.ux-design:before {
	content:"\f112";
}
